@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Roboto+Condensed:wght@300&display=swap');
body {
    background: url(imagens/fundo.jpg);
}
section fieldset {
    text-align: center;
    background-color: black;
    width: 280px;
    margin: 0px auto;
    margin-top: 70px;
    border-color: solid black;
}
.input {
    margin-top: 10px;
}
.button-37 {
  background-color: #13aa52;
  border: 1px solid #13aa52;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  outline: 0;
  padding: 10px 25px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 14px;
  margin-bottom: 30px;
}

.button-37:hover {
  box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
  transform: translateY(-2px);
}

@media (min-width: 768px) {
  .button-37 {
    padding: 10px 30px;
  }
}
h1, label {
    color: #fff;
    margin-bottom: 10px;
    font-family: Oswald;
}
p {
    color: gray;
    margin-top: 2px;
    font-weight: 5;
    font-family: Oswald;
}